{
  "aidcManaged": true,
  "name": "aidc workspace",
  "dockerComposeFile": "compose.yaml",
  "service": "workspace",
  "workspaceFolder": "/workspace",
  "shutdownAction": "stopCompose",
  "overrideCommand": false,
  "remoteUser": "vscode",
  "customizations": {
    "vscode": {
      "extensions": [
        "anysphere.remote-containers",
        "ms-vscode-remote.remote-containers"
      ],
      "settings": {
        "terminal.integrated.defaultProfile.linux": "zsh"
      }
    }
  }
}
